:root {
	--backgroundColour: rgb(154, 215, 155);
	--fadedText: rgb(230, 230, 230);
	--mainFont: 'Inter','inter','Roboto', sans-serif;
}

* {
	transition: all 0.1s;
}

::selection {
	background: #ebb759;
    color: rebeccapurple;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: var(--mainFont);
	background-color: var(--backgroundColour);
}

h1, h2, h3, h4, h5, h6, hr, p {
	margin-block-start: 0px;
    margin-block-end: 15px;
}

button,input[type="submit"] {
	padding: 5px 20px;
	border:none;
	font-family: var(--mainFont);
	cursor: pointer;
	min-height: 50px;
	min-width: 50px;
}

p {
	line-height: 1.6em;
	margin-block-end: 0px;
}

span {
	display: inline-block;
	vertical-align: top;
}

hr {
	height: 1px;
	width: 100%;
	background-color: grey;
	border: 0px;
}

div {
	width: 100%;
	box-sizing: border-box;
}

/*these refer to the oED placeholder text in the search bar*/
input::-webkit-input-placeholder {
	color: var(--fadedText);
}
input:-moz-placeholder {
	color: var(--fadedText);
}
input::-moz-placeholder {
	color: var(--fadedText);
}
input:-ms-input-placeholder {
	color: var(--fadedText);
}

.headerAndContent {
	display: grid;
    grid-template-rows: 50px 1fr;
}

.row {
	border-bottom: 1px solid #8fcb90;
}

.rowContainer {
	min-height: 100px;
	border-bottom: 1px solid #8fcb90;
	display: grid;
    grid-template-columns: 1fr 120px;
}

.plantName {
	font-size: 1.3em;
	color: #323750;
    font-weight: bold;
    /* padding: 20px; */
	text-decoration: none;
}

.plantStatus {
	width: 120px;
    height: 10px;
    margin-top: 20px;
    font-size: 1em;
	border-radius: 10px;
	border: 2px solid #97d198;
	color: #252546;
	transition: all 0.1s;
}

.plantStatus:hover {
	background-color: #efefef !important;
	transition: all 0.1s;
}

.healthyPlantButton {
	background-color: #33b180;
}

.unhealthyPlantButton {
	background-color: #cf6759;
}

.FAB {
	font-size: 1.2em;
	padding: 0px;
}

.hoverableButton {
	box-shadow: 0px 0px 10px var(--backgroundColour);
}

.hoverableButton:hover {
	box-shadow: 3px 6px 10px #78b179;
}

input[type="text"] {
	border-radius: 5px;
    border: 2px solid #8fcb90;
	height: 30px;
}

input[type="radio"] {
	margin: 0px 20px;
}