/* last updated 10/07/2021 */

.bold {
	font-weight: bold;
} 

.hide {
	display: none;
}

.horizontalColumn {
	display: grid;
	grid-template-columns: 1fr;
	place-items: center;
	gap: 20px;
}

.horizontallySeparated {
	width: 100%;
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.centerContents {
	display: grid;
    place-items: center;
	height: 100%;
	width: 100%;
}

.verticallyCentered {
	display: flex;
	align-items: center;
    flex-wrap: wrap;
}

.flexExpandable {
	flex-grow: 1;
}

.padding {
	padding: 20px;
}

.displayNone {
	display: none;
}

.centered {
	place-self: center;
}

.FAB {
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 50px;
	height: 50px;
	border-radius: 20px;
}